<h1> Articles listing page </h1>

<p> <strong> Article indexes: </strong> </p>

<table>

    <thead>
    
    <tr>
        <th> Title </th>

        <th> Description </th>

        <th colspan="3"> Actions </th>
    </tr>
    
    </thead>

    <tbody>

    <% @articleIndex.each do |element| %>
    
        <tr>
        
            <th> <%= element.title %> </th>

            <th> <%= element.description %> </th>

            <th> <%= link_to 'Show', article_path(element), data: {turbo_method: :show} %> </th>

            <th> <%= link_to 'Edit', edit_article_path(element), data: {turbo_method: :edit} %> </th>

            <th> <%= link_to 'Delete', article_path(element), data: {turbo_method: :delete}%> </th>
        
        </tr>

        <% end %>

    </tbody>

</table>

<p> <%= link_to 'Create new article', new_article_path, data: {turbo_method: :create} %> <p/>